.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  color: blue;
  margin: 1rem 0;
}

.container > .canvasLightning {
  background: linear-gradient(#000, #151515);
}
